@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

/* Border under nav bar */
nav.navbar.navbar-default.navbar-expand-lg.fixed-top.bottom-bar {
	border-bottom: 4mm groove rgba(122, 73, 0, 0.6);
}

/* navbar */
.nav-item{
	padding-right: 30px;
	font-family:'Roboto';
	font-size: 23px;
}
.nav-item a {
	padding: .5em .8em;
	color: rgba(255,255,255,.5);
	position: relative;
	text-decoration: none;
	font-size: 20px;
	
  }
  
  .nav-item a::before,
  .nav-item a::after {
	content: '';
	height: 14px;
	width: 14px;
	position: absolute;
	transition: all .35s ease;
	opacity: 0;
	
  }
  
  .nav-item a::before {
	content: '';
	right: 0;
	top: 0;
	border-top: 3px solid #3E8914;
	border-right: 3px solid #2E640F;
	transform: translate(-100%, 50%);
	
  }
  
  .nav-item a:after {
	content: '';
	left: 0;
	bottom: 0;
	border-bottom: 3px solid #2E640F;
	border-left: 3px solid #3E8914;
	transform: translate(100%, -50%);
	
  }
  
  .nav-item a:hover:before,
  .nav-item a:hover:after{
	transform: translate(0,0);
	opacity: 1;
	
  }
  
  .nav-item a:hover {
	color: #3DA35D;
  }


  .nav-spacing{
	margin-top: 110px;
	margin-bottom: -72px;
}



#slideshow {
	position: relative;
	display: block;
	max-width: 100%;
	height: 0;
    padding-bottom: 58.25%; /* 16:9 aspect ratio */
	background-color: rgba(199, 105, 105, 0.658);
  }
  

  #slideshow img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	z-index: 2;

  }
  
  #slideshow img:first-child {
	opacity: 1;
  }


/*  
  .diagonal-image {
	clip-path: polygon(100% 0, 0 0, 0 60%, 0 100%, 60% 100%, 100% 80%);
}
   */




  
.home-text {
	position: absolute; /* make the text element position absolute */
	top: 260px; /* adjust the top and right values to position the text element */
	left: 40px;
	color: 	#ffffff	; /* set the text color */
	z-index: 1; /* make the text element on top of the image */
	font-size: 60px;
	font-family:'Roboto';
	letter-spacing: 3px;
	z-index: 3;
	opacity: 0;
	transform: translateY(50%);
	animation: fade-up 1s ease-in-out forwards;
	animation-delay: .5s; /* delay the animation by 1 second */
	text-shadow: 4px 4px 0 #000000, 4px 4px 0 #000000;
	
}


@keyframes fade-up {
	from {
	  opacity: 0;
	  transform: translateY(50%);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }


.estimates {
	position: absolute;
	color: #ffffff;
	margin-top: -400px;
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	font-weight: 100000000px;
	letter-spacing: 3px;
	display: inline-block;
	font-weight: 1000;
	z-index: 4;
	white-space: nowrap;
	left: 100px;
	opacity: 0;
}

.fadeIn {
	opacity: 0;
	transform: translate3d(-400px, 0, 0);

	animation: fadeInAnimation 1s ease-in-out forwards;
  }
  
  @keyframes fadeInAnimation {
	0% {
	  opacity: 0;
	  transform: translate3d(-50px, 0, 0);
	}
	100% {
	  opacity: 1;
	  transform: translate3d(0, 0, 0);
	}
  }

 .highlight {
	display: inline-block;
	top:100;
	position: absolute;
	z-index: -1;
	background-color: #ffd344;
	opacity: .9;
	height: 70px;
	width: 0px; 
	transition: width 0.5s;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
.item.highlight-active .highlight {
	width: 360px;
	transition: all 500ms ease; 
}

.item {
	transition: all 500ms ease; 
}

.item:hover .highlight {

transform: skew(-9deg) scale(1.1);

} 
  .button-container {
	position: relative;
  }
  
  .bottom-corner {
	position: absolute;
	bottom: -0;
	right: 0;
	margin: 60px;
	z-index: 5;

  } 

  

  /* CSS */
  .button-56 {
	align-items: center;
	background-color: #f78989;
	border: 4px solid #111;
	border-radius: 8px;
	box-sizing: border-box;
	color: #111;
	cursor: pointer;
	display: flex;
	font-family:'Konkhmer Sleokchher';
	font-size: 40px;
	height: 55px;
	justify-content: center;
	line-height: 50px;
	max-width: 100%;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }
  
  .button-56:after {
	background-color: #111;
	border-radius: 8px;
	content: "";
	display: block;
	height: 60px;
	left: 0;
	width: 100%;
	position: absolute;
	top: -2px;
	transform: translate(8px, 8px);
	transition: transform .2s ease-out;
	z-index: -1;
  }
  
  .button-56:hover:after {
	transform: translate(0, 0);
  }
  
  .button-56:active {
	background-color: #ffdeda;
	outline: 0;
  }
  
  .button-56:hover {
	outline: 0;
  }
  
  @media (min-width: 768px) {
	.button-56 {
	  padding: 0 40px;
	}
  }




/* START OF ABOUT US SECTION */

.about-container {
	display: flex; /* use flexbox to create a container */
	flex-direction: row; /* make the container horizontal */
	background-color: #2c2b26;
	margin-top: 72px;
  }
  
  .about-text {
	color: white;
	flex-basis: 55%; /* make the text element occupy 50% of the container width */
	margin-left: 20px;
	padding-right: 60px; /* add some padding to the right side of the text element */
	margin-top: 40px;
	font-family: 'Archivo Black', sans-serif;
  }
  .about-text h2{
	font-family: 'Archivo Black', sans-serif;
  }

  .about-text p{
	font-family: 'Lato', sans-serif;
}
  
  .about-image {
	flex-basis: 45%; /* make the image element occupy 50% of the container width */
  }
  
  .about-image img {
	width: 100%; /* make the image element fill its container */
	height: auto; /* maintain the aspect ratio of the image */
  }



#concrete{
	margin-top: 100px;
}


.body-style {
    padding-top: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container-fluid {
	max-width: 1200px;
}
.navbar-default {
    padding: 0;
	border: 0;
	background: #263a29;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-inverse {
	border: 0;
}


.navbar-default .navbar-brand {
	color: #4e3434;
    padding: 0;
}
.navbar-default .navbar-toggle {
	border-color: #1a242f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #1a242f;
}


.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}


.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}



header {
	padding: 40px 0px 20px 0px;
	text-align: center;
	color: #fff;
	background: #18bc9c;
}
header .container {
	padding-top: 0px;
	padding-bottom: 0px;
}
header img {
	display: block;
	margin: 0 auto 20px;
}
header .intro-text .name {
	display: block;
	text-transform: uppercase;	
	font-size: 1.3em;
	font-weight: 700;
}
header .intro-text .skills {
	font-size: 1.2em;
	font-weight: 300;
}
@media ( min-width :768px) {
	header .container {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	header .intro-text .name {
		font-size: 2.0em;
	}
	header .intro-text .skills {
		font-size: 1.3em;
	}
}

/* h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;	
	font-weight: 700;
} */

hr.star-primary {
	margin: 0px auto 0px;
	padding: 0;
	max-width: 250px;
	border: 0;
	border-top: solid 5px;
	text-align: center;
	border-color: #2c3e50;
    opacity: 100%;
}
hr.star-light {
	margin: 15px auto 15px;
	padding: 0;
	max-width: 250px;
	border: 0;
	border-top: solid 5px;
	text-align: center;
	border-color: #fff;
    opacity: 100%;
}

.service-item {
	display: inline-block;
	margin: 10px;
}
.service-item-lg .service-link-lg {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 350px;
	text-align: center;
}
.service-item-lg {	
	margin: 15px 10px;
}
.service-item .service-link {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 200px;
	text-align: center;
}
.overlayText-top {
	display: block;
	position: absolute;
	color: #fff;
	font-weight: bold;
	width: 100%;
	top: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.35) !important;
}
.overlayText-bottom a, a:hover, a:focus, a:active {
	outline: 0;
	color: #fff !important;
}
.overlayText-bottom {
	display: block;
	position: absolute;
	color: #fff;
	font-weight: bold;
	width: 100%;
	bottom: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.35);
}
.caption {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(24, 188, 156, .9);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}
.caption:hover {
	opacity: 1;
}
.caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.caption-content i {
	margin-top: -12px;
}
.caption-content h3, .caption-content h4 {
	margin: 0;
}
footer {
	color: #fff;
	font-size: 18px;
}
footer h3 {
	margin-bottom: 30px;
}
footer .footer-above {
	padding-top: 20px;
	background-color: #2c3e50;
}
footer .footer-col {
	margin-bottom: 50px;
}
footer .footer-below {
	padding: 15px 0;
	background-color: #233140;
}
strong {
	color: #18bc9c;
	font-weight: bold;
  }